/* Global styles */

.App {
  text-align: center;
}

.App-title {
  color: #ffff00;
  margin: auto 15px;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Control Navigation Bar */

.ControlDisplayBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 25%;
  height: calc(100vh - 60px);
  background: rgb(177, 177, 177);
  overflow-y: auto;
}

.ControlBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 60px;
  background: #000;
  color: #fff;
}

.SearchInput {
  height: 30px;
  width: 200px;
  margin: auto 10px;
}

.SearchInput[type=text] {
  font-size: 18px;
  padding-left: 5px; 
  border: none;
  border-bottom: 2px solid #ffff00;
  background: #000;
  color: #fff;
}

.SortByName {
  font-size: 18px;
  height: 30px;
  margin: auto 10px;
  background: transparent;
  color: #ffff00;
  border-radius: 30px;
}

.SortByPopulation {
  height: 30px;
  margin: auto 10px;
  background: transparent;
  color: #ffff00;
  border-radius: 30px;
  font-size: 18px;
}

.resetButton {
  height: 30px;
  width: 70px;
  margin: auto 10px;
  background: transparent;
  color: rgba(255, 0, 0, 0.7);
  border-radius: 50px;
  font-size: 18px;
}

.resetButton:hover {
  height: 30px;
  margin: auto 10px;
  background: rgb(10, 10, 10);
  color: rgb(255, 0, 0);
  border-radius: 50px;
}

.PopulationData {
  height: 40px;
  width: 367px;
  margin: auto 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: bold;
}

.averageNumber {
  margin-top: 3px;
  color: #ffff00;
}

/* Country cards */

.Country {
  width: 100%;
}

.border-text {
  font-size: 10px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.CardItemField {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9;
}

.CardItemData {
 font-size: 16px;
}

.CountryDataHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around
}

.BorderDataHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
  padding-bottom: 25px;
}

/* Google Map */

.WorldMap {
  background: #ccc;
}

.GoogleMap {
  width: 75%;
  height: calc(100vh - 90px);
  background: #ccc;
}


/* Media queries */

@media screen and (max-width: 600px) {
  .ControlDisplayBar {
    height: calc(100vh);
    width: 40%;
  }
  .ControlBar {
    height: 125px;
  }
  .GoogleMap {
    width: 60%;
    height: calc(100vh);
    background: #ccc;
  }
  .SortByName {
    font-size: 16px;
    height: 30px;
    margin: auto 3px;
  }
  .SortByPopulation {
    height: 30px;
    margin: auto 3px;
    font-size: 16px;
  }
  .resetButton {
    margin: auto 3px;
    font-size: 16px;
  }
  .SearchInput {
    width: 140px;
    margin: auto 10px;
  }
  .PopulationData {
    margin: auto 1px;
    font-size: 13px;
    font-weight: bold;
  }
  .averageNumber {
    margin-top: 2px;
  }
}

@media (max-width: 1199px) and (min-width: 601px) {
  .ControlDisplayBar {
    height: calc(100vh);
    width: 35%;
  }
  .ControlBar {
    height: 75px;
  }
  .GoogleMap {
    width: 65%;
    height: calc(100vh);
    background: #ccc;
  }
  .SortByName {
    font-size: 16px;
    height: 30px;
    margin: auto 3px;
  }
  .SortByPopulation {
    height: 30px;
    margin: auto 3px;
    font-size: 16px;
  }
  .resetButton {
    height: 30px;
    margin: auto 3px;
    font-size: 16px;
  }
  .SearchInput {
    height: 30px;
    width: 150px;
    margin: auto 10px;
  }
  .PopulationData {
    margin: auto 1px;
    font-size: 13px;
    font-weight: bold;
  }
  .averageNumber {
    margin-top: 2px;
  } 
}

@media (max-width: 1241px) and (min-width: 1200px) {
  .ControlBar {
    height: 65px;
  }

  .PopulationData {
    margin: auto 1px;
    font-size: 13px;
    font-weight: bold;
  }
}
